abstract-icon()
  padding 0
  display inline-block
  box-sizing border-box

abstract-icon-svg()
  abstract-icon()

abstract-icon-font()
  abstract-icon()
  font-family $font, sans-serif !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  box-sizing content-box

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale


icon-font($name, $suppress-abstract = true, $font)
  if $suppress-abstract != true
    abstract-icon-font($font)

  content $icons[$name]