$icon-sizes = (10, 12, 14, 16, 18, 20, 22, 24, 28, 40, 48);

$icons = {
        loop: "\e92d",
        badge: "\e92b",
        smile: "\e92c",
        edit: "\e928",
        indicators: "\e929",
        award-branch: "\e92a",
        reject: "\e926",
        accept: "\e927",
        logo: "\e91d",
        arrow-down: "\e920",
        arrow-left: "\e921",
        arrow-up: "\e922",
        arrow-right: "\e923",
        exchange: "\e924",
        palm: "\e925",
        mail: "\e91e",
        log-out: "\e91f",
        group: "\e914",
        search: "\e90f",
        add: "\e910",
        star: "\e911",
        profile: "\e912",
        question: "\e913",
        delete: "\e90d",
        repub: "\e90e",
        news-archive: "\e90c",
        doc: "\e901",
        bolt: "\e902",
        schedule: "\e903",
        news: "\e904",
        editor: "\e905",
        plus: "\e906",
        calendar: "\e907",
        angle-down: "\e908",
        angle-up: "\e909",
        angle-left: "\e90a",
        angle-right: "\e90b",
        more: "\e915",
        round-list: "\e916",
        xmark: "\e900",
        cam: "\e917",
        tick: "\e918",
        egg: "\e919",
        checkbox-stroke-checked: "\e91a",
        checkbox-fill-checked: "\e91b",
        checkbox-empty: "\e91c",
};
